 * {
      box-sizing: border-box;
    }

    body {
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      background-color: #f7f6f2;
      color: #222;
    }
    .name_photo {
      margin-top: 50px !important;
      display: flex;
      justify-content: space-between;
      max-width: 1155px;
      margin: 0 auto;
      align-items: end;
      padding-bottom: 30px;
      align-content: flex-end;
        border-bottom: 2px #222 solid;
    }
    .name {
        font-size: 30px;
        font-weight: bold;
        line-height: 0%;
    }
    /* .portrait{
        width: 30%;
        height: auto;
    } */
    .description {
      align-content: space-between;
    }
    .photo {
        width: 20%;
        height: auto;
    }
    .description_about {
      margin-top: 30px !important;
      display: flex;
      max-width: 1155px;
      margin: 0 auto;
      justify-content: space-between;
    }
    .text_about {
      width: 47%;
    }