body {
  font-family: 'Montserrat', sans-serif;
background-color: #F7F6F2 !important;
  color: #1a1a1a;

}

h1, h2 {
  text-align: center;
  color: #333;
}
#loginForm{
    /* display: block !important; */
}
.title_page {
    margin-top: 30px;
}
.login_class {
  display: grid
;
}
.text_project {
    align-self: center;
    margin-left: 20px;
}
.right_part {
    justify-content: flex-end;
    display: flex;
    align-content: center;
    align-items: baseline;
}
.delete-btn {
    margin-left: 20px;
}
#userInfo {
    max-width: 995px;
    margin: 0 auto;
    display: flex !important;
    justify-content: space-between;
}
#projectsTitle {
    margin-top: 50px;
}
.left_part {
    display: flex;
    align-content: center;
}
.new_project {
    width: 100%;
    display: grid;
}
.text_field {
    margin-bottom: 20px;
}
form {
  margin: 20px auto;
max-width: 995px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  display: block;
  flex-direction: column;
  gap: 10px;
}

input, select, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background-color: #111;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #333;
}

#projectsList {
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border: 1px solid #e1e1e1;
  padding: 15px;
  border-radius: 10px;
  gap: 20px;
}

.admin-project img {
  width: 120px;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}
.submit_login{
    margin: 0 auto;
}
.admin-project div {
  flex: 1;
}

.admin-project button {
  background-color: #e74c3c;
  color: white;
}

.no-access {
  text-align: center;
  font-style: italic;
  color: #777;
  margin-top: 40px;
}
