 html, body {
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
      background-color: #f7f6f2;
      color: #1a1a1a;
      overflow: hidden;
      height: 100vh;
    }

    #navbar-container {
      height: 60px;
    }

    #backBtn {
      display: inline-block;
      /* margin: 20px 20px 0 20px; */
      font-weight: 600;
      margin-right: 20px;
      text-decoration: none;
      color: #1a1a1a;
      font-size: 16px;
    }
    .text-cont{
      width: 60%;
    }
    .project-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 10px 20px;
      height: calc(100vh - 60px - 50vh);
      overflow-y: auto;
    }

    .project-title {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 23px;
    }

    .project-year {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .project-description {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 10px;
    }

   .gallery-wrapper {
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
    height: 70vh;
  overflow: hidden;
}

#gallery {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  cursor: grab;
  height: 94%;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#gallery::-webkit-scrollbar {
  display: none;
}

#gallery img {
  height: 89%;
  width: auto;
  border-radius: 5px;
  object-fit: contain;
  user-select: none;
  pointer-events: auto;
  cursor: pointer;
}
    .arrow-btn {
    top: 50%;
    background: none;
    /* transform: translateY(-50%); */
    /* background: rgba(255, 255, 255, 0.7); */
    border: none;
    font-size: 24px;
    cursor: pointer;
    /* padding: 10px; */
    z-index: 1;
    }

    .arrow-left {
      left: 10px;
    }

    .arrow-right {
      right: 10px;
    }

    #lightbox {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: white;
      display: none;
      align-items: center;
      justify-content: center;
      z-index: 9999;
      flex-direction: column;
    }

    #lightbox.visible {
      display: flex;
    }

    #lightbox img {
      max-width: 90vw;
      border-radius: 5px;
      max-height: 80vh;
      object-fit: contain;
    }

    .close-btn {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 40px;
      background: none;
      border: none;
      cursor: pointer;
    }
    .arrow-container {
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      padding: 10px 20px;
      justify-content: space-between;
    }
    .nav-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 40px;
      background: none;
      border: none;
      cursor: pointer;
      color: black;
    }

    .nav-btn.left {
      left: 30px;
    }
.text {
  display: flex;
  margin-top: 50px;
  max-width: 1200px;
  margin-top: 50px !important;
  align-items: flex-start;
  margin: 0 auto;
  justify-content: space-between;
}
    .nav-btn.right {
      right: 30px;
    }

  .NamingArrow {
    width: 40%;
    display: flex;
    align-items: center;
      
  }
.hidden {
  display: none;
}
    @media (max-width: 768px) {
      html, body {
    overflow-y: auto;
    height: auto;
  }
    .text-cont{
      width: 100%;
    }
  .project-container {
    height: auto;
  }

  .gallery-wrapper {
    position: relative;
    height: auto;
    margin: 0 auto;
  
    overflow: visible;
  }

  #gallery {
    flex-direction: column;
    overflow: visible;
    gap: 20px;
    width: auto;
    margin: 0 auto;

    cursor: default;
  }
.arrow-container{
  display: none;
}
  #gallery img {
    width: 90%;
    height: auto;
    margin-bottom: 10px;
  }
      .project-container {
        margin-bottom: 30px;
      }
.project-description {
    font-size: 20px;}      
.text {
  display: block;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 60px;
  max-width: 1200px;
  margin-top: 50px !important;
  align-items: flex-start;
  margin: 0 auto;
  justify-content: space-between;
}
  .arrow-btn {
    display: none;
  }

  .project-title {
    font-size: 24px;
  }
.NamingArrow {
  display: block;
  width: 100%;
}
.close-btn {
  font-size: 60px;
      right: 20px;
}
.nav-btn.left {
  bottom: 0%;
  position: absolute;
        top: 92%;
}
.nav-btn.right {
  bottom: 0%;
  position: absolute;
        top: 92%;
}
  .arrow-btn {
    display: none;
  }

  .project-title {
    font-size: 24px;
    width: 100%;
  }

    }